.container-fluid {
  width: 80%;
  display: grid;
  height: auto;
  border-radius: 20px;
  padding-top: 5%;
  background: url()
}

p {
  /* display: inline-flex; */
  width: max-content !important;
  color: red;
  line-height: 50px;
  font-size: 150%;
}

.col-sm-3 {
  margin: 50px auto;
  padding: 110px;
  border: 1px solid black;
  /* background: center cover no-repeat !important; */
  background-position: center !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

.btn {
  -webkit-box-shadow: 1px -1px 8px 3px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 1px -1px 8px 3px rgba(0, 0, 0, 0.41);
  box-shadow: 1px -1px 8px 3px rgba(0, 30, 9, 0.41);
  /* background-image: linear-gradient(to right top, #43f278, #63f164, #7cf04f, #93ee37, #a8eb12); */
  border: none;
  margin: 100px auto 0px;
  width: 80px;
  border-radius: 20%;
  /* margin: 10px auto 10px auto; */
  position: inherit;
  display: block;
}

.btn:hover {
  transition: 0.75s;
  box-shadow: none;
}
