.container-fluid {
  width: 80%;
  display: grid;
  height: auto;
  border-radius: 20px;
  padding-top: 5%;
  background: url()
}

/* .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
} */
.para {
  /* display: inline-flex; */
  width: max-content !important;
  color: red;
  line-height: 50px;
  font-size: 150%;
}

.col-sm-3 {;
  width:200%;
  margin: 10px auto;
  padding: 50px;
  border: 1px solid black;
  /* background: center cover no-repeat !important; */
  background-position: center !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

.btn-success {
  -webkit-box-shadow: 1px -1px 8px 3px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 1px -1px 8px 3px rgba(0, 0, 0, 0.41);
  box-shadow: 1px -1px 8px 3px rgba(0, 30, 9, 0.41);
  /* background-image: linear-gradient(to right top, #43f278, #63f164, #7cf04f, #93ee37, #a8eb12); */
  border: none;
  margin: 100px auto 0px;
  width: 80px;
  border-radius: 20%;
  /* margin: 10px auto 10px auto; */
  position: inherit;
  display: block;
}
.nav-item{
  padding-left: 100px;
  font-weight: 500;
  font-family: 'pokemon-font';
  src: url('../fonts/pokemon-font.eot');
}

.btn-success:hover {
  transition: 0.75s;
  box-shadow: none;
}
#f1_container {
  position: relative;
  margin: 10px auto;
  width: 450px;
  height: 281px;
  z-index: 1;
}
#f1_container {
  perspective: 1000px;
}
#f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.40s ease-out;
}
#f1_container:hover #f1_card {
  transform: rotateY(180deg) translate(50%);
}
.face {
  position:absolute;
  margin: auto;
  width: 50%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #aaa;
}
